<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <ul>  
      <li class="left"><%= link_to 'Home', root_path %></li>
      <% if current_user %>
        <li class="left"><%= link_to 'New Post', new_post_path %></li>
        <li class="right"><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li class="right"><%= link_to 'Sign up', new_user_path %></li>
        <li class="right"><%= link_to 'Login', login_path %></li>
      <% end %>
  </ul>
</div>

<%= yield %>

</body>
</html>
